@import "tailwindcss";

@theme {
  --color-header: rgb(87, 93, 144);
  --color-background: rgb(221, 213, 208);
  --color-font: rgb(89, 95, 114);
  --color-button: rgb(215, 38, 56);
  --color-button-dark: rgba(215, 38, 56, .90);
  --color-button-focus: rgb(512, 38, 58);
  --color-accent: rgb(162, 162, 190); 
}